body {
    background: #d2dca0 url('bg.png');
/*    background: black;*/
    color: white;
    font-family: Terminus, Monospace;
    font-size: 12px;
    padding: 0px 0px 0px 0px;

}
#results {
/*    opacity:0.8;*/
    padding-right: 12px;
    width: 18%;
    position: absolute;
    top: 40px;
    right: 0px;
}
#help {
    padding: 20px;
    margin-top: 20px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-width: 15px;
    text-align: center;
}
button {
    background: #1B1B1B;
    border: 2px solid #1B1B1B;
    padding-left: 7px;
    padding-right: 7px;
    color: white;
    font-family: Terminus, Monospace;
    font-size: 12px;
}
input {
    background: black;
    border: 2px solid #1B1B1B;
    color: white;
    font-family: Terminus, Monospace;
    font-size: 12px;
}
#input_text {
    width: 100%;
    margin-bottom: 5px;
}
textarea {
    background: black;
    border: 2px solid #1B1B1B;
    color: white;
    font-family: Terminus, Monospace;
    font-size: 12px;
}
#top {
    height: 40px;
    padding-left: 20px;
    position: absolute;
    top:0px;
    left:0px;
}
#map {
    background-color: black;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 40px;
    left: 12px;
    border: 2px solid #777777;
    /*-moz-border-radius: 10px;
    border-radius: 10px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;*/
}
.result {
    background: #1B1B1B;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    border: 2px solid #1B1B1B;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}
.result_item {
    border: 2px solid #1B1B1B;
    margin-left: 2px;
    margin-right: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.quote {
    padding: 10px;
}
.highlight {
    color: cyan;
}
.hover
{
    background-color: #333333;
    border-color: #333333;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
	color: black;
}
